<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Masalar"></Label>
</ActionBar>

<StackLayout class="page">
    <TabView>
        <ng-container *ngFor="let area of areas">
            <StackLayout *tabItem="{title: area.name}" class="p-5 table-list">
                <ScrollView>
                    <RadListView [items]="area.tables">
                        <ng-template tkListItemTemplate let-item="item">
                            <GridLayout (tap)="onTableItemTap(item)" class="p-15 table-item" rows="*" columns="*,*">
                                <label class="table-item-name" row="0" col="0" [text]="item.name"></label>
                                <label class="table-item-status pull-right fa" [ngClass]="{'status-0': item.status === 0,'status-1': item.status === 1,'status-2': item.status === 2}"
                                    text="&#xf111;" row="0" col="1"></label>
                            </GridLayout>
                        </ng-template>

                        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewStaggeredLayout>
                    </RadListView>
                </ScrollView>
            </StackLayout>
        </ng-container>
    </TabView>
</StackLayout>